<h1>New User</h1>

<%= render 'shared/errors' %>

<form action="<%= users_url %>" method="POST">

    <label for="user_name">
        user_name:
    </label>
    <input
        type="text"
        id="user_name"
        name="user[user_name]"
        value="<%= @user.user_name %>"
    >
    <label for="password">
        password:
    </label>
    <input
        type="password"
        id="password"
        name="user[password]"
        value="<%= @user.password %>"
    >
    <input type="submit" value="Create User">

</form>

