body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

.ingredients-list {
    list-style: square;
}

.directions-list {
    list-style: armenian;
    font-style: italic;
}

header img {
    width: 100px;
}

ul li a {
    text-decoration: none;
    text-decoration-color: inherit;
}